<!-- begin header -->
<header class="header">
	<div class="submenu">
		<div class="inner submenu__inner">
			<ul class="submenu__list">
				{% for item in [
					{ title: 'CIBC Capital Markets' },
					{ title: 'CIBC Websites' }
				] %}
					<li class="submenu__item"><a href="#" class="submenu__link">{{item.title}}</a></li>
				{% endfor %}
			</ul>
			<a href="#" class="submenu__link submenu__lang"><img src="img/flag-canada.svg" alt="/" class="submenu__icon">English</a>
		</div>
	</div>
	<div class="inner header__inner">
		<a href="#" class="logo">
			<img src="img/logo.svg" alt="CIBC" class="logo__img">
		</a>
		<div class="header__right">
			<ul class="header__list">
				{% for item in header.links or [
					{ title: 'Contact Us' },
					{ title: 'Sign On' }
				] %}
					<li class="header__item">
						<a href="#" class="link header__link">{{item.title}}</a>
						{% if header.hasModalLogin and loop.last%}
							<div class="popup popup_login">
								<div class="popup__content">
									<form action="/" class="form">
										<div class="form-group">
											<label class="form-group__label">Username</label>
											<input class="form-group__input" type="text" placeholder="">
											<div class="form-group__checkbox">
												<input type="checkbox" class="input__checkbox" id	="checkboxLogin">
												<label for="checkboxLogin" class="input__label">Remember my username</label>
											</div>
										</div>
										<div class="form-group">
											<label class="form-group__label">Password</label>
											<input class="form-group__input" type="password" placeholder="">
										</div>
										<div class="form-group">
											<a href="#" class="link">Forgot your password?</a>
											<div class="form-group__row">
												<div class="form-group__col">
													<a href="#" class="btn btn_gray-transparent">Register</a>
												</div>
												<div class="form-group__col">
													<a href="#" class="btn">Sign On</a>
												</div>
											</div>
											<a href="#" class="link link_icon">{{mixins.icon('shield')}}Security guaranteed</a>
											<a href="#" class="link">Electronic access agreement</a>
										</div>
									</form>
								</div>
							</div>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
			<div class="search header__search">
				<input type="text" class="search__input" placeholder="Search">
				<button class="search__btn"><i class="material-icons search__icon">search</i></button>
			</div>
			<div class="header__label">CIBC Structured&nbsp;Notes</div>
		</div>
	</div>
	<nav class="nav">
		<div class="inner nav__inner">
			<ul class="nav__list">
				{% for item in [
					{ title: 'Current Offerings' },
					{ title: 'Previous Issued' },
					{ title: 'Education Centre' },
					{ title: 'Publications' }
				] %}
					<li class="nav__item"><a href="#" class="nav__link {% if loop.index == navActive %}is-active{% endif %}">{{item.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</nav>
</header>
<!-- end header -->