<!-- begin hero -->
<div class="hero {{hero.classList}}">
	<div class="hero__container" {% if not hero.noBg %}style="background-image: url(img/{{hero.img or 'hero'}}.jpg);" {% endif %}>
		<div class="inner hero__inner">
			<div class="hero__content">
				<div class="hero__content-in">
					<div class="hero__info">
						{% if hero.title %}
							<h2 class="title-lg hero__title">{{hero.title}}</h2>
						{% endif %}
						{% if hero.description %}
							<div class="hero__description">{{hero.description}}</div>
						{% endif %}
						{% if hero.btn %}
							<a href="#" class="btn hero__btn">{{hero.btn}}</a>
						{% endif %}
						{% if hero.heroSubTitle %}
							<h3 class="label hero__subtitle">{{hero.heroSubTitle | safe}}</h3>
						{% endif %}
						{% if hero.heroTitle %}
							<h2 class="title-xl hero__title">{{hero.heroTitle | safe}}</h2>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero -->