<div class="sidebar tabs__sidebar">
	<div class="sidebar__box">
		<div class="sidebar__filters">
			<div class="sidebar__title">
				<svg version="1.1" width="21.6px" height="23.1px" viewBox="0 0 21.6 23.1" enable-background="new 0 0 21.6 23.1" class="sidebar__title-icon">
					<polygon fill="none" stroke="#333333" stroke-miterlimit="10" points="13.5,22 13.5,8.5 20.5,0.5 1.1,0.5 8.1,8.5 8.1,17 "/>
				</svg>
				<div class="sidebar__title-text">Filter options</div>
				<i class="material-icons sidebar__title-help icon-help">help_outline</i>
			</div>
			<a href="#" class="link link_inherit sidebar__reset">Reset</a>
		</div>
	</div>
	{% for item in [
		{
			title: 'F-Class',
			list: [
				{
					type: 'checkbox',
					props: {title: 'F-Class', subtitle: '(3)' }
				}
			]
		},
		{
			title: 'Currency',
			list: [
				{
					type: 'checkbox',
					props: { attrs: 'checked', title: 'CAD', subtitle: '(32)' }
				},
				{
					type: 'checkbox',
					props: { title: 'USD', subtitle: '(12)' }
				}
			]
		},
		{
			title: 'Asset Class',
			list: [
				{
					type: 'checkbox',
					props: { title: 'Equity', subtitle: '(32)' }
				},
				{
					type: 'checkbox',
					props: { title: 'Commodity', subtitle: '(12)' }
				},
				{
					type: 'checkbox',
					props: { title: 'Interest Rate', subtitle: '(32)' }
				},
				{
					type: 'checkbox',
					props: { title: 'Multi-Asset', subtitle: '(12)' }
				}
			]
		},
		{
			title: 'Geography',
			list: [
				{
					type: 'checkbox',
					props:  { title: 'Canada', subtitle: '(32)' }
				},
				{
					type: 'checkbox',
					props:  { title: 'US', subtitle: '(12)' }
				}
			]
		},
		{
			title: 'Advanced Search',
			list: [
				{
					type: 'input',
					props: { placeholder: 'Note Name', label: 'Name' }
				},
				{
					type: 'select',
					props: {
						options: ['Type', 'Type 2', 'Type 3']
					}
				},
				{
					type: 'select',
					props: {
						options: ['Structure', 'Structure 2', 'Structure 3']
					}
				},
				{
					type: 'select',
					props: {
						options: ['Status', 'Status 2', 'Status 3']
					}
				},
				{
					type: 'select',
					props: {
						options: ['Underlying', 'Underlying 2', 'Underlying 3']
					}
				},
				{
					type: 'select',
					props: {
						options: ['Asset Class', 'Asset Class 2', 'Asset Class 3']
					}
				},
				{
					type: 'input',
					props: {
						classList: 'form-group__col_icon',
						rowClassList: 'form-group__row_bordered',
						group: [
							{
								placeholder: 'From',
								icon: true
							},
							{
								placeholder: 'To',
								icon: true
							}
						],
						label: 'Issue Date Range'
					}
				},
				{
					type: 'input',
					props: {
						classList: 'form-group__col_icon',
						rowClassList: 'form-group__row_bordered',
						group: [
							{
								placeholder: 'From',
								icon: true
							},
							{
								placeholder: 'To',
								icon: true
							}
						],
						label: 'Maturity Date Range'
					}
				}
			]
		}
	] %}
		<div class="sidebar__box">
			<a href="#" class="sidebar__subtitle">{{item.title}} <i class="material-icons sidebar__arrow">keyboard_arrow_up</i></a>
			<ul class="sidebar__list">
				{% for item in item.list %}
					<li class="sidebar__item">
						{{mixins[item.type](item.props)}}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>
<!-- end sidebar -->