---
title: Education Centre Main
navActive: 3
hero: {
	title: 'Notes. A big idea in one word.',
	btn: 'Search Now',
	description: 'Need help finding a note? Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.',
	img: 'bg-hero-education',
	noBg: true,
	classList: 'hero_sm hero--education-page',
	heroClassList: 'title-full'
}
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include 'partials/components/_hero.html' %}
	<!-- begin cards -->
	<div class="cards">
		<div class="inner cards__inner">
			<h2 class="title-lg title-lg_regular cards__title">Lorem ipsum dolor sit amet.</h2>
			<div class="cards__row">
					<div class="cards__col">
						{{mixins.card(
							{
								label: 'MLGIC',
								description: 'Our MLGIC notes sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad.',
								title: 'Consectetuer elit sed diam.',
								link: 'View All'
							}
						)}}
					</div>

					<div class="cards__col">
						{{mixins.card(
							{
								label: 'PPN',
								description: 'Our PPN notes sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad.',
								title: 'Protect my initial investment.',
								link: 'View All'
							}
						)}}
					</div>

					<div class="cards__col">
						{{mixins.card(
							{
								label: 'PAR',
								description: 'Our PAR notes sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad.',
								title: 'Potential rewards have risks.',
								link: 'View All'
							}
						)}}
					</div>
			</div>
		</div>
	</div>
	<!-- end cards -->
{% endblock %}
