---
title: Education Centre
navActive: 3
hero: {
	classList: 'hero_sm',
	title: 'MLGIC',
	description: 'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh nonummy magna',
	img: 'education'
}
items: {
	noTitle: true,
	columnClassList: 'items__col_33',
	columns: [
		{
			classList: 'item_lg',
			title: 'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh (1:25)',
			description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.',
			link: 'Read transcript',
			logo: true,
			logoText: true,
			play: true
		},
		{
			classList: 'item_lg',
			title: 'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh (1:25)',
			description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.',
			link: 'Read transcript',
			logo: true,
			logoText: true,
			play: true
		},
		{
			classList: 'item_lg',
			title: 'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh (1:25)',
			description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.',
			link: 'Download',
			placeholder: true
		},
		{
			classList: 'item_lg',
			title: 'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh (1:25)',
			description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.',
			link: 'Read transcript',
			logo: true,
			logoText: true,
			play: true
		},
		{
			classList: 'item_lg',
			title: 'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh (1:25)',
			description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.',
			link: 'Read transcript',
			logo: true,
			logoText: true,
			play: true
		},
		{
			classList: 'item_lg',
			title: 'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh (1:25)',
			description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.',
			link: 'Download',
			placeholder: true
		}
	]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include 'partials/components/_hero.html' %}
	{% include 'partials/components/_items.html' %}

{% endblock %}
