---
title: My Notes Watchlist
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="page">
		<div class="inner page__inner">
			<h1 class="title-xl page__title">My Notes</h1>
			<div class="tabs">
				<div class="tabs__controls">
					{% for item in [
						{title: 'Portfolio'},
						{title: 'Watchlist', active: true},
						{title: 'Notes Events'}
					] %}
						<a href="#" class="tabs__control {% if item.active %}is-active{% endif %}">{{item.title}}</a>
					{% endfor %}
				</div>
				<div class="tabs__container">
					<div class="tabs__content">
						{% include "partials/components/_sidebar.html" %}
						<div class="tabs__body">
							<ul class="tags">
								{% for item in [
									{ title: 'CAD' }
								] %}
									<li class="tags__item">
										<div class="tags__title">{{item.title}}</div>
										<button class="tags__close"></button>
									</li>
								{% endfor %}
							</ul>
							<div class="products">
								<div class="products__labels">
									<div class="products__label"><strong>7</strong> product results</div>
								</div>
								<a href="#" class="products__link link">Export to Exel {{mixins.icon('exel')}}</a>
								<div class="table">
									<div class="table__thead thead__white">
										<div class="table__tr">
											<div class="table__th" data-column="product-name">
												<div class="watchlist__controls">
													{{mixins.checkbox()}}
													<span class="table__heading">Product Name</span>
													<i class="material-icons table__arrow">keyboard_arrow_down</i>
												</div>
											</div>
											<div class="table__th" data-column="fundserv">
												<span class="table__heading">FUNDserv</span>
											</div>
											<div class="table__th" data-column="available-until">
												<span class="table__heading">Issue Date</span>
											</div>
											<div class="table__th" data-column="available-until">
												<span class="table__heading">Issue Date</span>
											</div>
											<div class="table__th" data-column="term">
												<span class="table__heading">Term</span>
											</div>
											<div class="table__th" data-column="compare">
												<span class="table__heading">Category</span>
											</div>
										</div>
									</div>
									<div class="table__tbody">
										{% for item in range(0,4) %}
											<div class="table__tr">
												<div class="table__td" data-column="product-name">
													<div class="watchlist__controls">
														{{mixins.checkbox()}}
														<p><a href="#" class="link link_inherit">CIBC Canadian Infrastructure Autocallable Deposit Notes, Series 3 (F-class)</a></p>
													</div>
												</div>
												<div class="table__td" data-column="fundserv">
													<p>CBL532</p>
												</div>
												<div class="table__td" data-column="available-until">
													<p>23 Mar 2018</p>
												</div>
												<div class="table__td" data-column="term">
													<p>1 Apr 2018</p>
												</div>
												<div class="table__td" data-column="category">
													<p>6 Years</p>
												</div>
												<div class="table__td" data-column="category">
													<p>PPN</p>
													<a href="#" class="tags__close"></a>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>

							<div class="products__footnote"><p>Called, matured or sold Notes will no longer appear in your Portfolio.</p></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
