---
title: Index page login
hero: {
	title: 'Lorem ipsum dolor sit amet consectetuer adipiscing',
	btn: 'Register Today'
}
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include 'partials/components/_hero.html' %}
	{% include 'partials/components/_cards.html' %}
	{% include 'partials/components/_items.html' %}

	<div class="popup popup_login">
		<div class="popup__content">
			<form action="/" class="form">
				<div class="form-group">
					<label class="form-group__label">Username</label>
					<input class="form-group__input" type="text" placeholder="">
				</div>

				<div class="form-group">
					<label class="form-group__label">Password</label>
					<input class="form-group__input" type="password" placeholder="">

					<div class="form-group__checkbox">
						<input type="checkbox">
						<label for="" class="label">Remember my username</label>
					</div>
				</div>

				<div class="form-group">
					<a href="#" class="link">Forgot your password?</a>
					<div class="form-group__row">
						<div class="form-group__col">
							<a href="#" class="btn btn_gray-transparent">Register</a>
						</div>
						<div class="form-group__col">
							<a href="#" class="btn">Sign On</a>
						</div>
					</div>
					<a href="#" class="link link_icon">{{mixins.icon('shield')}}Security guaranteed</a>
					<a href="#" class="link">Electronic access agreement</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
