{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro item(props) %}
	<div class="item {{props.classList}}">
		<div class="item__figure">
			<div class="item__figure-in">
				{% if props.logo %}
					<div class="item__logo">
						<img src="img/logo.svg" alt="CIBC" class="item__logo-img">
						{% if props.logoText %}
							<div class="item__logo-label">CIBC Structured&nbsp;Notes</div>
						{% endif %}
					</div>
				{% endif %}
				{% if props.play %}
					<a href="#" class="item__play"></a>
				{% endif %}
				{% if props.img %}
					<div class="item__img" style="background-image: url(img/{{props.img.src or 'item-placeholder'}}.jpg);"></div>
				{% endif %}
				{% if props.placeholder %}
					<div class="item__placeholder"></div>
				{% endif %}
			</div>
		</div>
		<div class="item__content">
			<h3 class="title-md item__title">{{props.title}}</h3>
			<div class="item__description">{{props.description | safe}}</div>
			<div class="item__link">
				<a href="#" class="link link_lg">{{props.link}}</a>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro card(props) %}
	<div class="card">
		<div class="label card__label">{{props.label}}</div>
		<h3 class="title-md card__title">{{props.title}}</h3>
		{% if props.description %}
			<div class="card__description">{{props.description}}</div>
		{% endif %}
		{% if props.list %}
			<ul class="card__list">
				{% for item in props.list %}
					<li>{{item}}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<div class="card__link">
			<a href="#" class="link link_lg">{{props.link}}</a>
		</div>
	</div>
{% endmacro %}

{% macro checkbox(props) %}
	<label class="checkbox">
		<input type="checkbox" class="checkbox__input" {{props.attrs | safe}}>
		<span class="checkbox__icon"><i class="material-icons checkbox__icon-in">check</i></span>
		{% if props.title or props.subtitle %}
			<span class="checkbox__content">
				<span class="checkbox__title">{{props.title}}</span>
				<span class="checkbox__subtitle">{{props.subtitle}}</span>
			</span>
		{% endif %}
	</label>
{% endmacro %}