.card
	padding: 20px
	color: $gray
	background: $white
	box-shadow: 0 1px 1px 0 rgba($black, 0.2)
	&__label
		margin-bottom: 17px
		color: #999999
	&__title
		margin-bottom: 15px
	&__link
		margin-top: 20px
		margin-bottom: 2px
	&__list
		padding-left: 15px
	&__listItem
		position: relative
	&__listItem:before
		position: absolute
		top: 4px
		left: -18px
		content: 'chevron_right'
		font-family: 'Material Icons'
		font-weight: 700
		font-style: normal
		font-size: 16px
		line-height: 1
		letter-spacing: normal
		text-transform: none
		display: inline-block
		white-space: nowrap
		word-wrap: normal
		direction: ltr
		-webkit-font-feature-settings: 'liga'
		-webkit-font-smoothing: antialiased