.card
	padding: 20px
	background: $white
	box-shadow: 0 1px 1px 0 rgba($black, 0.2)
	&__label
		margin-bottom: 17px
		color: #999999
		text-transform: uppercase
	&__title
		margin-bottom: 15px
	&__link
		margin-top: 20px
		margin-bottom: 2px