input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator
	display: none
	-webkit-appearance: none

.form-group
	overflow: hidden
	font-size: 0
	&__checkbox
		font-size: 0
		margin-top: 15px
	&__checkbox .input
		&__label
			+f(14px, 700, 1)
			font-family: $familySecondary
			margin-left: 14px
		&__label,
		&__checkbox
			display: inline-block
			vertical-align: middle
	&__label
		display: block
		+f(14px, 700, 1)
		font-family: $familySecondary
		margin-bottom: 8px
		color: #777
	&__input
		border: 1px solid #cccccc
		padding: 8px 16px
		border-radius: 0
		background-color: $white
		width: 100%
		color: #6F6F6F
		+f(16px, 400, 14px)
		+placeholder-color(#6F6F6F)
		&.input_bordered
			border: 1px solid #cccccc
		&.is-error
			border-color: $red
	&__row
		font-size: 0
		margin: 0 -5px
		&.form-group__row
			&_bordered
				position: relative
				&:after
					content: ""
					position: absolute
					top: 50%
					left: 0
					height: 1px
					width: 100%
					background-color: #cccccc
			&_navigate
				margin: 0
				border-bottom: 2px solid #E6E6E6
				.form-group__input
					max-width: 120px
					vertical-align: top
	&__col
		width: 50%
		display: inline-block
		vertical-align: top
		padding: 0 5px
		&.form-group__col_icon
			position: relative
			overflow: hidden
			z-index: 10
			.form-group__input
				padding: 8px 36px 8px 16px
	&__icon
		position: absolute
		top: 50%
		right: 16px
		display: flex
		transform: translateY(-50%)
		font-size: 18px
		color: #6F6F6F
	&__icon svg
		fill: currentColor


.input
	&__btn
		width: 34px
		height: 36px
		background-color: $white
		transition: background-color .30s ease-in-out, border-color .30s ease-in-out
		position: relative
		font-size: 16px
		border: 1px solid #cccccc
		cursor: pointer
		&.input__btn_navigate:after
			display: none
		&.input__btn_navigate:first-child
			border-right: none
		&.input__btn_navigate:last-child
			border-left: none
		&:after
			content: ''
			display: block
			position: absolute
			top: 100%
			margin-top: 1px
			left: -1px
			width: 34px
			height: 2px
			background-color: #E6E6E6
			transition: background-color .30s
		+hover
			background-color: #E6E6E6
			.icon, i
				fill: $gray
				color: $gray
		.icon, i
			color: #6F6F6F
			position: absolute
			top: 50%
			left: 50%
			transform: translate3d(-50%, -50%, 0)
			transition: fill .30s ease-in-out
			fill: #6F6F6F