.form-group
	&__label
		display: block
		+f(14px, 700, 1)
		font-family: $familySecondary
		margin-bottom: 8px
	&__input
		border: 1px solid #cccccc
		padding: 8px 16px
		border-radius: 0
		background-color: $white
		width: 100%
		color: #6F6F6F
		+f(16px, 400, 14px)
		+placeholder-color(#6F6F6F)
	&__row
		font-size: 0
		margin: 0 -5px
	&__col
		width: 50%
		display: inline-block
		vertical-align: top
		padding: 0 5px