.list-strong
	font-size: 0
.list-strong li
	display: block
.list-strong li strong
	+f(16px, 700, 14px)
	font-family: $familySecondary
	color: $gray
	display: inline-block
	vertical-align: top
	min-width: 30px
	margin-right: 12px