.popup
	&.popup_login
		position: absolute
		right: 70px
		top: 120px
		max-width: 300px
		width: 100%
		padding: 24px
		font-size: 0
		background-color: $lightGray
		&:after
			position: absolute
			bottom: 100%
			right: 40px
			content: ''
			display: block
			+arr(25, 15, $lightGray, t)
		.link
			display: inline-block
		.link.link_icon
			position: relative
			margin-left: 20px
			margin-bottom: 20px
		.link.link_icon .icon
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 0
			font-size: 20px
			margin-left: -20px
			color: #A2A2A2
		.form-group:not(:last-child)
			margin-bottom: 20px
		.form-group__row
			padding: 20px 0
			.btn
				width: 100%
				text-align: center
