.select
	position: relative
	border-bottom: 2px solid #E6E6E6
	display: inline-block
	font-size: 0
	width: 100%
	&.select_lg
		max-width: 210px
	&.select_sm
		max-width: 180px
	&.select_xs
		max-width: 150px
	+hover
		.select
			&__icon
				background-color: #6F6F6F
			&__icon:before,
			&__icon:after
				background-color: $white
	&__control
		display: inline-block
		border-left: 1px solid #ccc
		border-right: none
		border-top: 1px solid #ccc
		border-bottom: 1px solid #ccc
		padding: 0 60px 0 10px
		height: 36px
		vertical-align: top
		+f(16px, 400, normal)
		color: #6F6F6F
		appearance: none
		-ms-appearance: none
		-webkit-appearance: none
		width: 100%
		cursor: pointer
		text-align: left
		> *
			color: currentColor
	&__option
		+f(14px, 400, normal)
	&__icon
		position: absolute
		top: 0
		right: 0
		display: block
		width: 30px
		height: 100%
		border-left: 1px solid #ccc
		border-right: 1px solid #ccc
		pointer-events: none
		text-decoration: none
		text-align: center
		transition: background-color .30s ease-in-out
		&:before,
		&:after
			content: ''
			position: absolute
			top: 50%
			display: block
			width: 1px
			height: 10px
			background-color: #6F6F6F
			transition: background-color .30s ease-in-out
		&:before
			transform: translate3d(50%, -50%, 0) rotateZ(-45deg)
			left: 35%
		&:after
			transform: translate3d(-50%, -50%, 0) rotateZ(45deg)
			right: 35%
